<div class="container-fluid">
	<div class="row">
		<h1 class="text-center">Here are the <%= @games.count %> games available for ""<br /><small>There are "" tips for these games</small></h1>
	</div>
	<div class="row">
		<div class="col-xs-6 col-offset-3">
			<table border="2px solid black">
				<thead>
					<tr>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<% @games.each do |game| %>
					<tr>
						<td><%= game.title %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
