<div class="container-fluid">
	<div class="jumbotron">
		<h1>Welcome to the Advice Generator! <br><small>Where you can find general advice for all the latest games on PS4, XBOX ONE and PC</small></h1>
	</div>

	<div class="row">
		<h1 class="text-center">Tip of the Day:</h1>
		<h2 class="text-center random-tip">blah blah blah</h2>
	</div>

	<div class="row">
		<h3 class="text-center">Please select a platform</h3>
	</div>

	<div class="row">
		<div class="btn-group col-xs-4 col-xs-offset-5" role="group" aria-label="...">
			<%= link_to @platforms[:PS4].title, platform_games_path(@platforms[:PS4]), class: "btn btn-success" %>
			<%= link_to @platforms[:XBOX_ONE].title, platform_games_path(@platforms[:XBOX_ONE]), class: "btn btn-warning" %>
			<%= link_to @platforms[:PC].title, platform_games_path(@platforms[:PC]), class: "btn btn-danger" %>
		</div>
	</div>
</div>